.container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  border-style: solid;
  border-width: 1px;
  width: 50%;
  margin: 10px auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 5px;
  background-size: 100% 100%;
}

.done {
  opacity: 0.35;
}

h2 {
  font-family: Rukinax;
  font-size: 2em;
}

h3 {
  margin: 0px;
  text-shadow: 0 0 3px #000000;
}

h4 {
  margin: 0px;
  text-shadow: 0 0 3px #ffffff;
}

.todo_type {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.todo_text {
  margin-top: auto;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sport {
  border-color: #209609;
  background-color: #18aa2499;
}

.development {
  border-color: #1a4fe2;
  background-color: #1100ff99;
}

.language {
  border-color: #b30404;
  background-color: #d95e5e99;
}

.home {
  border-color: #8db304;
  background-color: #d7d95e99;
}

.other {
  border-color: #b36704;
  background-color: #d98f5e99;
}