.link-button {
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 17px;
  }