.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-areas:
        "sidebar main"
        "sidebar main"
        "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    background-color: #ffffff;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    font-size: 1.5em;
    border-radius: 0.5em;
    margin: 0.5em;
}

.main {
    grid-area: main;
    display: grid;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
}

h2 {
    margin-top: 0px;
}

h3 {
    color: #20b6db;
}

.logo {
    width: 1.5em;
    height: 1.5em;
    margin-right: 4px;
    color: #20b6db;
}

.icon_white {
    color: white;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.draggable {
    width: 100%;
    min-height: 6rem;
    max-height: 9rem;
    margin: 5px;
}