.App header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.5rem 1rem;
}

ul.menu {
  list-style: none;
}

ul.menu li {
  display: inline;
  padding: 12px;
}

ul.menu a {
  color: #ffffff;
}

.page {
  text-align: center;
}

body {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  width: 100%;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  background-color: #e3f3f8;
}

#wrapper {
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@font-face {
  font-family: "Rukinax";
  src: url('./fonts/Rukinax.otf');
}

h3 {
  margin-top: 50px;
  font-size: 45px;
  color: #ffffff;
  font-family: Rukinax;
}

#wrapper h1 p {
  font-size: 18px;
}

.panel_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  padding: 10px;
  background-color: #20b6db;
  box-shadow: 5px 5px 5px #505252;
  border-radius: 20px 0 0 20px;
}

.form_div {
  width: 330px;
  border-color: #20b6db;
  border-width: 20px;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  background-color: #8cdcf0;
  padding: 10px;
  box-shadow: 5px 5px 5px #505252;
}

.form_div .form_label {
  margin: 15px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  color: #20b6db;
}

.form_div input[type="text"],
input[type="password"] {
  width: 230px;
  height: 40px;
  border-radius: 10px;
  font-size: 17px;
  padding-left: 5px;
  border: 1px solid #ccc;
}

.form_div input[type="submit"] {
  width: 230px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  background-color: #20b6db;
  border-bottom: 3px solid #38dff1;
  color: white;
  font-weight: bold;
}

.form_div img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.icon {
  width: 100px;
  height: 100px;
  margin-top: 4px;
}

.icon_white {
  color: white;
}

.login_icon {
  background-color: #20b6db; /* defines the background color of the image */
  mask: url(/public/login_icon.svg) no-repeat center / contain;
  -webkit-mask: url(/public/login_icon.svg) no-repeat center / contain;
}

.signup_icon {
  background-color: #20b6db; /* defines the background color of the image */
  mask: url(/public/signup_icon.svg) no-repeat center / contain;
  -webkit-mask: url(/public/signup_icon.svg) no-repeat center / contain;
}

.center {
  margin: auto;
}


@media only screen and (min-width:700px) and (max-width:995px) {
  #wrapper {
    width: 100%;
  }

  #wrapper h1 {
    font-size: 30px;
  }

  .form_div {
    width: 50%;
    /* margin-left: 25%; */
    padding-left: 0px;
    padding-right: 0px;
  }

  .form_div input[type="text"],
  input[type="password"] {
    width: 80%;
  }

  .form_div textarea {
    width: 80%;
  }

  .form_div input[type="submit"] {
    width: 80%;
  }

  .form_div .icon {
    width: 150px;
  }
}

@media only screen and (min-width:400px) and (max-width:699px) {
  #wrapper {
    width: 100%;
  }

  #wrapper h1 {
    font-size: 30px;
  }

  .form_div {
    width: 60%;
    margin-left: 20%;
  }

  .form_div input[type="text"],
  input[type="password"] {
    width: 80%;
  }

  .form_div input[type="submit"] {
    width: 80%;
  }

  .form_div .icon {
    width: 75px;
  }
}

@media only screen and (min-width:100px) and (max-width:399px) {
  #wrapper {
    width: 100%;
  }

  #wrapper h1 {
    font-size: 25px;
  }

  .form_div {
    width: 90%;
    margin-left: 5%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .form_div input[type="text"],
  input[type="password"] {
    width: 80%;
  }

  .form_div input[type="submit"] {
    width: 80%;
  }

  .form_div .icon {
    display: none;
  }
}